<html>
<head></head>

<body>
<h1>register form</h1>
<form action="/register" method="POST">
<input type="text" placeholder="username" name="username" />
<input type="text" placeholder="email" name="email" />
<input type="text" placeholder="password" name="password"/>
<button>
    submit
</button>
</form>
</body>
</html>